# Core Framework
langchain
langchain-community
langchain-core

# LLM (The Fast & Free Engine)
langchain-groq
langchain-text-splitters

# Embeddings (The Local Brain)
sentence-transformers
langchain-huggingface

# Vector Database
chromadb
langchain-chroma

# Document Processing
pypdf

# Backend API
fastapi
uvicorn
python-multipart

# Frontend UI
streamlit

# Utilities
python-dotenv
requests